fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-chroma
langchain-openai
chromadb
psycopg2-binary
sqlalchemy
sentence-transformers
python-dotenv
pydantic
openai>=1.0.0
azure-identity
gunicorn
passlib[bcrypt]
python-jose[cryptography]
bcrypt
python-multipart